@import url('../common.css');

/* header */
header{
    background: lightblue;
    padding: 20px; 
    
    position: fixed; 
    width: 100%;
    top: 0;
}
header .head-wrapper{
    background: lightcoral;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header img{
    width: 100px;
}
header .head-list{
    width: 100%;
    background: tomato;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
header .head-list .head-item{
   border: 1px solid #000;
   margin: 15px;
}
/* header */