
section{
    background: lightcyan;
    width: 60%;
    margin: 150px auto;
}
section .main-serch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-serch h2 .main-logo{
    /* background: tan; */
    width: 150px;
    margin-bottom: 15px;
}
.main-serch .serchbar{
    width: 400px;
    height: 50px;
    border: 2px solid yellow;
    border-radius: 30px;
}