section{
    background: lightcyan;
    width: 60%;
    margin: 150px auto;
}
/* logo */
section .main-serch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* searchbar */
.main-serch h2 .main-logo{
    /* background: tan; */
    width: 150px;
    margin-bottom: 15px;
}
.main-serch .serchbar-wrap{  
    /* background: lavender; */
    position: relative;
}
.main-serch .serchbar {
    width: 400px;
    height: 50px;
    background: #fff;
    border: 2px solid yellow;
    border-radius: 30px;
    padding-left: 50px;
    
}
.main-serch .serchbar-wrap img{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px; left: 15px;
}

/* main article */

section .contents h3{
    background: lightgoldenrodyellow;
    width: fit-content;
    margin: 20px auto ;
    font-size: 24px;
}
section .contents .imgbox{
    background: url('https://bemypet.kr/_next/image?url=https%3A%2F%2Fcontents.creators.mypetlife.co.kr%2Fcontent%2Fuploads%2F2021%2F09%2F09100117%2F2021092Ffb_a17cbd41675c262aff02604f1f25e4b3.jpg&w=1080&q=75')
                no-repeat center/cover;
    width: 45%;
    height: 350px;
    
   
}