.sec4 h2{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.sec4 .qaa-box{
    margin: 40px auto;
    background: lightgoldenrodyellow;
    width: 100%;
    max-width: 1500px;
    padding-left: 20%;
    display: flex;
    align-items: center;
}
.sec4 .qaa-box img{
    width: 50px;
}
.sec4 .qaa-box h3{
    font-weight: 700;
    font-size: 20px;
}

.sec4 .notice{
    width: 50%;
    margin: 0 auto;
    /* background: lightgreen; */
    line-height: 2.5em;
}
.sec4 .btn{
   width: 100px;
   height: 40px;
   margin: 0;
}
.sec4 .notice .btn span{
   font-weight: 400;
   font-size: 10px;
}
.sec4 .notice h4{
    font-weight: 700;
    font-size: 20px;
}
.line{
    width: 100%;
    height: 2px;
    background: #ccc;
    margin-bottom: 20px;
}

.sec4 .more-btn{
    background: rgb(255, 208, 39);
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    width: 350px;
    height: 30px;
    border-radius: 50px;
    margin: 50px auto 0;
}

.sec5{
    background: lightgoldenrodyellow;
    width: 100%;
    max-width: 1500px;
    margin: 50px auto;
    padding: 100px;
}

.sec5 h2{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 50px;
}

.sec5 .scroll{
    /* background: #000; */
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    gap: 30px;

    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    
}
.sec5 .scroll .content-box{
    background: #fff;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    
    flex-shrink: 0;
    
    overflow:hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec5 .scroll .content-box img{
    width: 100%;
    height: 80%;
}
.sec5 .scroll .content-box p{
    padding: 5px 20px;
}